<h1>All Resources:</h1>
<strong>Routes: </strong>
<%= link_to 'routes', admin_routes_path %><br/>
<strong>Trains: </strong>
<%= link_to 'trains', admin_trains_path %><br/>
<strong>RailwayStations: </strong>
<%= link_to 'stations', admin_railway_stations_path %><br/>
<strong>Tickets: </strong>
<%= link_to 'tickets', admin_tickets_path %>